:root {
  --color1: #000000;
  --color2: #ffffff;
  --transparent: #ffffff00;
  --allTransitions: all ease-in-out 0.3s;
}

html {
  scroll-behavior: smooth;
  font-size: 16px;
}

.general-container {
  overflow: hidden;
  width: 100%;
  position: relative;
  background: var(--transparent);
  min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
  font-family: "Roboto", sans-serif;
}

.home-color__container {
  width: 100%;
  cursor: pointer;
}

.card-body {
  position: relative;
  z-index: 4;
}

.home-color__view {
  position: absolute;
  width: 100%;
  height: 0%;
}

.home-color__view,
.home-color__span,
.home-color__color {
  transition: var(--allTransitions);
}

.home-color__container:hover .home-color__view {
  height: 100%;
}

.home-color__container:hover .home-color__color,
.home-color__container:hover .home-color__span {
  color: white !important;
}

.page-item.active .page-link {
  background-color: var(--color1);
  border-color: var(--color1);
  transition: var(--allTransitions);
  color: white !important;
}

.page-link,
.page-link:hover {
  color: black;
  transition: var(--allTransitions);
}

.header__title {
  transition: var(--allTransitions);
}

.home-background {
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: -1;
}

.home-background tr {
  transition: var(--allTransitions);
}

.color-copied__container {
  width: 150vw;
  height: 150vh;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 4;
}

.fade-enter-active,
.fade-leave-active {
  transition: var(--allTransitions);
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
  position: absolute;
}
